{% extends "base.html" %}

{%block content%}
  <div class = "row">
      <div class = 'col-12' >
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-warning" role="alert">
              {% for message in messages %}
                  {{ message }}<br>
              {% endfor %}
          </div>
          {% endif %}
        {% endwith %} 
          <form class="d-flex" role="search">
              <input name="name" input class="form-control me-1" type="search" placeholder="Например: D3 5000" aria-label="Search">
              <button class="btn btn-primary" type="submit">Поиск</button> 
          </form>
          <div class="col">
            {% if request.args.get('name') %}
              <h5>Результаты поиска по запросу: {{ request.args.get('name') }}</h5>
            {% endif %}
          
            {% if request.args.get('name') %}
            <div class="row">
              {% for vitamin in vitamins %}
                <div class="col-3 mt-3">
                  <div class="card" style="width: 18rem;">
                    <img src="{{ vitamin.image }}" class="card-img-top" alt="{{vitamin.name}}" style="height: 300px;">
                    <div class="card-body">
                      <h5 class="card-title"> Цена: {{ vitamin.price }} ₽</h5>
                      <p class="text-truncate">{{ vitamin.name }}</p>
                      <a href= "{{ vitamin.url }}" class="btn btn-primary">Купить</a>
                      <a href="{{ url_for('user.like', product_id=vitamin.id, **dict(request.args)) }}"  class="btn btn-outline-info">В избранное💙</a>
                    </div>
                  </div>
                </div>
               {%endfor%}
            </div>
            {% endif %}
            </div>
          </div>
      </div>
  </div>
{%endblock%}
