{% extends "base.html" %}

{%block content%}
  <div class = "row">
      <div class = 'col-8'>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-warning" role="alert">
              {% for message in messages %}
                  {{ message }}<br>
              {% endfor %}
          </div>
          {% endif %}
        {% endwith %} 
          <form class="d-flex">
              <input class="form-control me-1" type="search" placeholder="D3 5000" aria-label="Search">
              <button class="btn btn-primary" type="submit">Поиск</button>
          </form>
      </div>
  </div>
{%endblock%}